<section>
    <h2 class="title">Create a New Post</h2><hr>    

    <form class="new-post-form">
        <div>
            <p for="post-title">Post title:</p>
            <textarea class="input" id="post-title" name="post-title" placeholder="add title here"></textarea>
        </div>
        <div>
            <p for="post-text">Post content:</p>
            <textarea class="textarea" id="post-text" name="post-text" placeholder="add content here"></textarea>
        </div>
        <button class="upvote-btn">Save post</button>
    </form>
</section>

<script src="/javascript/create-post.js"></script>